/* TEMA */
body {
    font-family: 'Montserrat';
}

.btn-primary{
    background-color:  #83A32C;/*VERDE*/
    border: none;
    border-radius: 360px;
}
.btn-primary:hover{
    background-color:  #8C5125; 
    border-color: black;
}
.btn-primary:disabled{
    background-color:  #b97847;
    border-color: black;
}

.btn-outline-dark {
    color: #8C5125;
    border-color: #8C5125;
}

.btn-outline-dark:hover {
    background-color: #8C5125;
}
.dropdown-item
{
    color: #8C5125;
}
.dropdown-item:hover
{
    color: #74411b;
    background-color:  #dbaa47; 
}

.resaltado-verde { color: #83A32C;  }


/* TOPBAR */
.top-bar
{
  max-height: 64px;
  padding: 4px 4px;
  font-size: small;
  color: white;
  background-color:  #728f23; 
}



/*------------------------------------------------------------*/
/* NAVBAR */

.nav-link {
    text-decoration: none;
    color: #000000 !important;
}

.nav-link:hover{
    text-decoration: none;
    color:#83A32C!important;
}

nav .active {
    background-color: #83A32C!important;
    color:aliceblue!important;
    border-radius: 0%!important;
}

nav .active:hover {
    background-color: #83A32C!important;
    color:aliceblue!important;
    border-radius: 0%!important;
    text-decoration: underline;
}

nav li:hover{
    text-decoration: underline;
    color:#83A32C!important;
}

nav .disabled {
    color: #c0c0c0!important;
}

nav{
    background-color:  #ffffff;
    background-size: cover;
}

.nav-superior{
    font-size: large;
}


.nav-inferior{
    font-size: 18pt;
}

.nav-logo {
    height: 128px;
    width: auto;
}

button::after {
    background-color: #ffffff!important;
    color: brown!important;
}

.texto-cuenta {
    text-shadow: 2px 2px #74747448;
    margin: 0px 8px;
}

/*------------------------------------------------------------*/
/* MASTHEAD (Banner principal) */
.banner {
    position: relative;
    height: 60vh;
    background: linear-gradient(90deg, rgba(227,170,3,1) 48%, rgba(255,255,255,1) 100%);
    /*background-image: url('https://media.gq.com.mx/photos/5f3f4f7f4545293c7ebf8ad9/master/pass/cereales.jpg');*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .al-fondo {
    vertical-align: bottom;
    border: 0;
    width: 60vh;
  }

  .banner  p {
    font-family: 'Montserrat';
    font-weight:normal;
    font-size: x-large;
  }

  .banner strong {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: x-large;
    color: #ffffff;
  }

  .banner button {
    font-weight: normal;
    font-size: large;
    color: #ffffff;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
  }
  
  .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70vh;
    height: 70vh;
    border-radius: 50%;
    background-color: #fff;
    background-image: url('/img/burbuja-blanca.png');
    display: flex;
    justify-content: center;
    align-items: center;
  }



/*------------------------------------------------------------*/
/* LOGOS */

.logos-pago{
    gap: 8px;
}

.logos-pago > img {
    width: 80px;
    height: 36px;
}

/*------------------------------------------------------------*/
/* FEAUTRES */

#features p {
    font-family: 'Montserrat';
    font-size: medium;
    margin: 0%;
}

/*------------------------------------------------------------*/
/* GENERICO */

.list-group-item {
    color: aliceblue;
}

.caja-mix > img {
    width: 256px;
}

.caja-mix > div > h3 {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: x-large;
}

.caja-mix > p {
    font-size: 20pt;
    font-family: 'Montserrat';
    font-weight:normal;
    font-size: medium;
}

#wraper {
    
    transition: all 0.3s;
}

.bold{
    font-weight: bold;
}

.bold{
    font-weight: bolder;
}

/*------------------------------------------------------------*/
/* FOOTER */
footer {
    margin-top: 64px;
    padding: 16px;
}

footer a {
    color: #fff;
    font-style: normal;
    text-decoration: none;
}

footer a:hover {
    color: #dbaa47;
}

footer ul {
    /* quitar indentacion (sangria) */
    padding: 0;
    list-style-type: none;
}

footer h4 {
    padding-bottom: 16px;
}

.data-fiscal {
    width: 120px;
    height: 165px;
}

/*------------------------------------------------------------*/
/* TIENDA */

.lateral-tienda {
    height: 100%;
    border-color: #000000;
    border-right: solid;
    border-width: 1px;
    
}

.lateral-tienda li {
    padding: 4px;
}

.lateral-tienda ul {
    padding: 0;
    list-style-type: none;
}

.lateral-tienda img {
    width: 200px;
    max-width: 100%;
    margin-bottom: 32px;
}

.lateral-tienda a {
    color: #4b4b4b;
    font-style: normal;
    text-decoration: none;
    font-size: large;
}

.lateral-tienda a:hover {
    color:#204222;
    text-decoration: underline;
}

.header-tienda{
    min-height: 128px;
}

.header-tienda div {
    padding: 4px;
}

.header-tienda button {
    height: 100%;
}

.header-tienda input{
    background-color: #ebebeb;
    border-radius: 360px;
    padding: 16px 16px;
}

.header-tienda .dropdown{
    border-color: #4b4b4b;
    border-style: solid;
    border-width: 1px;
    border-radius: 16px;
    padding: 8px 24px;
    height: 100%;
    width: min-content;
    margin: 0px;
}

#grilla-tienda {
    
}

/*------------------------------------------------------------*/
/* PRODUCTOS */
.carta-producto{
    padding: 24px;
    margin: 8px;
    max-height: 200px;
    width: 300px;
}

.carta-producto h5{
    font-size: large;
}

.carta-producto img{
    width: 100%;
}

.carta-producto button {
    border: none;
    background-color: #83A32C;
    color: #ffffff;
    padding: 12px;
}

.carta-producto button:hover {
    background-color: #d1a03e!important;
    color: #ffffff;
}

.botonera-suma {
    background-color: #ffffff!important;
    font-weight: bolder;
}

.botonera-suma button {
    text-decoration: none;
    font-weight: bolder;
    border-radius: 10%;
    padding: 0;
    margin: 0;
}

.input-group input {
    height: 46px;
    text-align: center;
}

.input-group-btn button .disabled {
    background-color: #d10a0a!important;
    
}

/*------------------------------------------------------------*/
/* TRABAJO */

#trabajo p {
    font-size: medium;
    inline-size:auto;
}

#trabajo i {
    height: 100%;
    font-size: xx-large;
    color:#728f23;
}

/*------------------------------------------------------------*/
/* LOGIN - REGISTRO */

#main-login a{
    text-decoration: none;
}

#main-login a:hover{
    text-decoration: none;
}

.ingreso-derecha{
    width: fit-content;
}

.logo-login img{
    width: auto;
    max-width: 512px;
    align-self: center;
}

.col-login-izq {
    padding: 16px;
    font-size: x-large!important;
}

.input_text
{
    background-color: #D9D9D9;
    border-radius: 360px;
    padding-right:  24px;
    padding-left:  16px;

}
.input_text input
{
    background-color: #D9D9D9;
    border: 0;
    padding: 16px 0px;
    min-height: fit-content;
}

.input_text i
{
    color:#83A32C;
}

.social-login
{
    display: flex;
    justify-content: center;
    vertical-align: middle;
    row-gap: 8px;
    
}


.social-login a
{
    text-decoration: none;
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: 10px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: inline-block;
    margin: 8px;
    vertical-align: middle;
}

.social-login a.facebook{
    background: #3b5998;
}

.social-login a.google{
    background: #ea4335;
}

.login_btn button{
    height: 48px;
    width: 100%;
    padding: 4px 48px;
}

/*------------------------------------------------------------*/
/* COLORES */
/* background-color:  #728f23; */  /* VERDE */
/* background-color:  #E0AD46; */ /*AMARILLO*/
/* background-color:  #8C5125; */ /*MARRON OSCURO*/
.bg-acento{
    background-color:  #728f23; 
}
.bg-mostaza{
    background-color:  #d1a03e; 
}
.bg-oro{
    background-color:  #dbaa47; 
}
.bg-marron{
    background-color:  #8C5125;
}
.bg-marron-oscuro{
    background-color:  #6b3f1d;
}
.bg-gris-claro{
    background-color:  #e6e6e6;
}
.bg-verde-claro { background-color:  #83A32C; }

.bg-verde-oscuro { background-color:  #204222; }

.bg-gradiente-amarillo-blanco { 
    background: linear-gradient(90deg, rgba(227,170,3,1) 48%, rgba(255,255,255,1) 100%);
}

.text-acento {
    color:  #8C5125;
}

.enlace-simple {
    color: #83A32C;
}

.enlace-simple:hover {
    color:#d1a03e;
}